// bower:scss
// endbower
@import 'youtube';


body, input, button, textarea, select {
     font-family: 'Roboto';
    //font-family: Roboto,arial,sans-serif;
    font-size: 13px;
}
body {
    background: none repeat scroll 0% 0% #F1F1F1;
}
html, body, #body-container {
    height: 100%;
     font-family: 'Roboto';
}
body {
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}
body {
    border: 0px none;
}

#container {
    position: absolute;
    margin: 0 auto;
    width: 80%;
    left: 10%;
    height: 100%;
    background: #fff;
}


tr.selected {
    transition: background 0.5s ease;
   background: #d1d1d1; 
}