
        <tr class="pl-video yt-uix-tile selected" data-title="DSCF0001">
            <td class="pl-video-handle"><span class="pl-video-handle-img yt-sprite"></span></td>
            <td class="pl-video-index">1</td>
            <td class="pl-video-thumbnail">
                <span class="pl-video-thumb ux-thumb-wrap contains-addto">
                    <a href="" class="yt-uix-sessionlink" aria-hidden="true" ><span class="video-thumb  yt-thumb yt-thumb-72">
                        <span class="yt-thumb-default">
                            <span class="yt-thumb-clip">
                                <img src="//i.ytimg.com/vi/9ywVAGKd-QY/default.jpg" alt="" aria-hidden="true" width="72">
                                <span class="vertical-align"></span>
                            </span>
                        </span>
                    </span>
                </a>
            </span></td>
            <td class="pl-video-title">
                <a class="pl-video-title-link yt-uix-tile-link yt-uix-sessionlink  spf-link">
                    DSCF0001
                </a>
                <div class="pl-video-owner">
                    by <a href="#" class="yt-uix-sessionlink g-hovercard spf-link " data-name="playlist">Artist name</a>
                </div>
            </td>
            <td class="pl-video-badges"></td>
            <td class="pl-video-added-by"></td>
            <td class="pl-video-time">
                <div class="more-menu-wrapper">
                    <div class="timestamp">Total time: <span title="64 Sekunden">1:04</span></div>
                    <div class="timestamp">Total videos: <span title="64 Sekunden">10</span></div>
                </div>
            </td>
        </tr>
